{%- if card_product != empty -%}
  <div class="card__colors">
    {% for option in card_product.options_with_values %}
      {% if option.name == 'Color' or option.name == '颜色' %}
        <ul class="color-swatch-list">
          {% for value in option.values %}
            {% assign color_variants = card_product.variants | where: "option2", value %}
            {% assign variant = color_variants | first %}
            
            <!-- 为每种颜色设置对应的十六进制代码 -->
            {% assign color_code = '#CCCCCC' %}
            {% case value %}
                {% when 'ブラック' or '純黒' %}
                    {% assign color_code = '#000000' %}
                {% when 'ホワイト' or '純白' %}
                    {% assign color_code = '#FFFFFF' %}
                {% when 'パープル' %}
                    {% assign color_code = '#CEC0D3' %}
                {% when '黒白コンビ' %}
                    {% assign color_code = 'linear-gradient(45deg, #000000 50%, #FFFFFF 50%)' %}
                {% when 'ブルーグレー' %}
                    {% assign color_code = '#AFC0CD' %}
                {% when 'ストライプ' %}
                    {% assign color_code = 'repeating-linear-gradient(45deg, #000 0px, #000 3px, #FFF 3px, #FFF 4px)' %}
                {% when 'ベージュ' %}
                    {% assign color_code = '#F5F5DC' %}
                {% when 'グレー' %}
                    {% assign color_code = '#808080' %}
                {% when 'ゴールド' %}
                    {% assign color_code = '#FFD700' %}
                {% when 'シルバー' %}
                    {% assign color_code = '#C0C0C0' %}
                {% when '千鳥柄' or 'チェックガラ' %}
                    {% assign color_code = 'repeating-linear-gradient(45deg, #000 0 4px, #FFF 4px 8px), repeating-linear-gradient(-45deg, #000 0 4px, #FFF 4px 8px)' %}
                {% when 'レモンイエロー' %}
                    {% assign color_code = '#F5F3CA' %} 
                {% when 'ブルー' %}
                    {% assign color_code = '#C6E1E9' %}
                {% when 'ヒョウ柄' %}
                    {% assign color_code = '#E6DBB1' %}
                {% when 'ボルドー' %}
                    {% assign color_code = '#952020' %}
                {% when 'バイオレット' %}
                    {% assign color_code = '#D8B8E8' %}
                {% when 'ピンク' %}
                    {% assign color_code = '#EFE1E3' %}
                {% when '格子' %}
                    {% assign color_code = 'repeating-conic-gradient(#000 0% 25%, #FFF 0% 50%) 50% / 10px 10px' %}

                 
            {% endcase %}
            
            <li>
              <color-swatch 
                class="color-swatch" 
                data-variant-inventory="{{ variant.inventory_quantity }}"
                style="
                  {% if value contains 'コンビ' %}
                    --swatch-background-image: {{ color_code }};
                  {% elsif value contains 'ガラ' or value contains 'ストライプ' %}
                    --swatch-background-image: {{ color_code }};
                    --swatch-background-size: {% if value contains '千鳥' or value contains 'チェック' %}4px 4px{% else %}100% 100%{% endif %};
                  {% else %}
                    --swatch-background-color: {{ color_code }};
                  {% endif %}
                "
                title="{{ value }}"
              >
                <a href="{{ card_product.url }}?variant={{ variant.id }}" tabindex="-1">
                  <span class="visually-hidden">{{ value }}</span>
                </a>
              </color-swatch>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{%- endif -%}